# ======================
# NODE MODULES
# ======================
backend/node_modules/
frontend/node_modules/

# ======================
# ENV FILES
# ======================
backend/.env
frontend/.env

# ======================
# DJANGO
# ======================
backend/db.sqlite3
backend/__pycache__/
backend/*.pyc
backend/media/
backend/staticfiles/

# ======================
# REACT BUILD
# ======================
frontend/build/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE FILES
# ======================
.vscode/
.idea/

# ======================
# LOG FILES
# ======================
*.log