backend/node_modules/
frontend/node_modules/
backend/.env
frontend/app/.env
backend/ecommerce/project/db.sqlite3
backend/ecommerce/project/media/
backend/ecommerce/project/staticfiles/
frontend/app/build/
Thumbs.db
.vscode/
.idea/