# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Django secret files
.env
*.sqlite3

# Ignore static/media
/staticfiles/
/media/

# Ignore VS Code settings
.vscode/

# Ignore node_modules if using React frontend
node_modules/
build/

# Ignore compiled files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp

# Ignore OS/system files
.DS_Store
Thumbs.db
